@font-face {
  font-family: "Maple Mono";
  src: url("https://static.binwh.com/fonts/MapleMono-Regular.otf");
}

@font-face {
  font-family: "文源圆体 Medium";
  src: url("https://static.binwh.com/fonts/WenYuanRoundedSC-Medium.otf");
}

@font-face {
  font-family: "文源黑体 Light";
  src: url("https://static.binwh.com/fonts/WenYuanSansSC-Light.otf");
}

h1,
h2,
h3,
h4,
h5,
h6,
header{
  font-family: '文源圆体 Medium';

        src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}

body {
  font-family: '文源黑体 Light';
  font-size: 16;
  line-height: 2;
  margin: 0;
}

.post-content pre code {
  font-family: 'Maple Mono';
  font-size: 13;
  line-height: 1.5;
}

:root {
    --main-width: 1024px; /* 调整为你想要的内容宽度 */
    --nav-width: 1024px;  /* 调整导航宽度 */
    --gap: 24px;          /* 调整边距 */
}